body {
  font-family: PT "Courier New", Courier, monospace;
}

h1 {
  color: white;
}
h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 28px;
}
.temp {
  color: white;
  font-size: 64px;
  font-weight: 200;
  line-height: 28px;
}
li {
  list-style: none;
}
ul {
  margin: 0;
  padding: 0;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border: 1px solid #085686;
  border-radius: 7px;
  background: radial-gradient(rgb(0, 135, 201) 0%, rgb(7, 58, 146) 100%);
}
.day-time {
  font-size: 20px;
  font-weight: 150;
  color: white;
}
.humid-wind {
  padding-top: 15px;
  font-size: 16px;
  font-weight: 100;
  line-height: 24px;
  color: #89c2eb;
}
.humid-icon {
  margin-right: 5px;
}
.wind-icon {
  margin-right: 5px;
}
.weather-icon {
  width: 280px;
}
.units {
  font-size: 64px;
  font-weight: 200;
  line-height: 28px;
  color: white;
}

.temp-value {
  padding-top: 15px;
  padding-left: 25px;
}
.description:first-letter {
  text-transform: capitalize;
}
.description {
  padding-top: 15px;
}
.button {
  color: rgb(7, 58, 146);
}
.button:hover {
  background-color: #3f8fcc;
  color: white;

  transition: all 200ms ease-in;
}
.source-link {
  color: #1768ff;
  text-decoration: underline;
}
.source-link:hover {
  text-decoration: none;
}

.temp-value .active {
  color: white;
  text-decoration: none;
  cursor: default;
}
.temp-value .active:hover {
  text-decoration: none;
}
a {
  text-decoration: none;
  color: #3f8fcc;
}
a:hover {
  color: #469cff;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}
.weather-forecast-date {
  font-size: 18px;
  font-weight: 100;
  line-height: 24px;
  color: #89c2eb;
  margin-top: 15px;
}
.weather-forecast-temperatures {
  font-size: 15px;
  color: white;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}
.weathet-forecast-collom {
  border: 1px solid #3165ae;
  border-radius: 7px;
  background: #3165ae;
  margin: 5px;
  max-width: 87px;
  padding: 15px 0 15px 0;
}
